[Unit]
Description=Monitor a git branch and exec command when it changes

[Service]
Type=forking
ExecStart=/home/bsimons/bin/gitmonitor start
ExecStop=/home/bsimons/bin/gitmonitor stop
ExecReload=/home/bsimons/bin/gitmonitor restart
PIDFile=/var/run/gitmonitor/gitmonitor.pid

